#nprogress .bar {
  background: var(--chakra-colors-primary-500);
  height: 2px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--chakra-colors-primary-500),
    0 0 5px var(--chakra-colors-primary-500);
}

#nprogress .spinner-icon {
  border-top-color: var(--chakra-colors-primary-500);
  border-left-color: var(--chakra-colors-primary-500);
}
